@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@400;500;700&display=swap');

/*объявление переменных*/
:root {
    --color-dark-primary: #102B3E;
    --color-green: #1BC89F;
    --color-grey: #CED8E1;
    --color-text-light: #FFF;
    --color-text: #000;

    --transition: all 400ms;

    --container-width-xl: 1560px;
    /* --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%; */
}

*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* font-family: 'Anonymous Pro', monospace; */

head {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background: var(--color-dark-primary);
}

.container {
    max-width: var(--container-width-xl);
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
}

span {
    color: var(--color-text-light);
    font-size: 20px;
    font-weight: 500;
}

h1{
    font-size: 36px;    
    color: var(--color-text-light);
}

h2 {
    font-size: 32px;
}

p, 
h1, 
h2, 
h3{
    word-break: break-word; 
}

section  {
    padding-top: 70px;
    padding-bottom: 65px;
}

section  h2,
.section_title{
    max-width: 280px;
    text-align: center;
    word-break: break-word; 
    color: var(--color-text-light);
}

.section_title {
    position: relative;
}

.section_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: var(--color-green);
    bottom: -5px;
    left: 0;
}

img {
    display: block;
    object-fit: cover;
}

.App  {
    display: flex;
    flex-direction: column;
    height: 100vh;
}



@media screen and (max-width: 1344px){
    .container {
        max-width: 85%;
    }
}

@media screen and (max-width: 1210px){
    .container {
        max-width: 95%;
    }
}