@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@400;500;700&display=swap');

/*объявление переменных*/
:root {
    --color-dark-primary: #102B3E;
    --color-green: #1BC89F;
    --color-grey: #CED8E1;
    --color-text-light: #FFF;
    --color-text: #000;

    --transition: all 400ms;

    --container-width-xl: 1560px;
    /* --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%; */
}

*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* font-family: 'Anonymous Pro', monospace; */

head {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background: var(--color-dark-primary);
    /* position: relative; */
}

.container {
    max-width: var(--container-width-xl);
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
}

span {
    color: var(--color-text-light);
    font-size: 20px;
    font-weight: 500;
    user-select: none;
}

h1{
    font-size: 46px;    
    color: var(--color-text-light);
}

h2 {
    font-size: 32px;
}

p, 
h1, 
h2, 
h3{
    word-break: break-word; 
    user-select: none;
}

section  {
    padding-top: 70px;
    padding-bottom: 65px;
}

section  h2,
.section_title{
    max-width: 280px;
    text-align: center;
    word-break: break-word; 
    color: var(--color-text-light);
}

.section_title {
    position: relative;
}

.section_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: var(--color-green);
    bottom: -5px;
    left: 0;
}

img {
    display: block;
    object-fit: cover;
}

.App  {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button {
    background: var(--color-green);
    border: 2px solid #ffffff00;
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    font-size: 20px;
    color: var(--color-text-light);
}

button:not(.admin_btn_status):not(:disabled):hover{
    background: var(--color-dark-primary);
    border: 2px solid var(--color-text-light);
    transform: scale(1.2);
}

button:disabled {
    background-color: var(--color-grey);
}

.modal-open {
    overflow: hidden;
}   

.assembled,
.waiting_pickup,
.completed{
    font-size: 18px;
    padding: 2px 15px;
    border-radius: 8px
}

.assembled {
    background-color: #E3DF79;
    color: #5b570c;
}

.waiting_pickup {
    background-color: #F26E9D;
    color: #7E2407;
}

.completed {
    background-color: #57B4F8;
    color: #00538F;
}

.admin_btn_status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin_btn_status:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 1344px){
    .container {
        max-width: 85%;
    }
}

@media screen and (max-width: 1210px){
    .container {
        max-width: 95%;
    }
}