.wrapper {
    background: linear-gradient(278deg, #1BC89F -6.79%, #175952 40.3%, #102B3E 102.75%);
    padding: 120px 0;
}

.text {
   max-width: 660px; 
}

.wrapper_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text > p {
    color: var(--color-text-light);
    font-size: 40px;
}

.text > p:first-child {
    margin-bottom: 35px;
}

.text span {
    color: var(--color-green);
    font-size: 40px;
    font-weight: 700;
}

.img_bg{
    max-width: 527px;
    height: 502px;
}

.img_bg > img {
    width: 100%;
}

@media screen and (max-width: 1344px) {
    .text {
        max-width: 550px;
    }

    .text > p {
        font-size: 36px;
    }

    .img_bg {
        max-width: 400px;
        height: 366px;
    }
}

@media screen and (max-width: 1100px){
    .wrapper_content {
        display: block;
    }

    .text {
        margin: 0 auto;
        text-align: center;
    }

    .img_bg {
        display: none;
    }

}