.register {
    /* border: 1px solid grey; */
    max-width: 1000px;
    margin: 220px auto;
    padding: 0 100px;
    text-align: center;
}

.register form{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.register button  {
    margin-top: 40px;
}


.wrapper_error {
    height: 20px;

}
.error {
    color: #f14f3f;
    font-weight: bold;
}