.order {
    padding: 15px 20px 28px; 
}

.order:not(:last-child){
    margin-bottom: 20px;
    border-bottom: 1px solid #ced8e182;
}

.number_order {
    display: block;
    max-width: max-content;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-green);
    margin-top: 10px;
}

.item_order {
    padding: 28px 20px 25px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 2px 5px 8px 0px #447c6fad;
    border-radius: 8px;
}

.item_order:not(:last-child){
    margin-bottom: 10px;
}

.info_order {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info_order > img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.about {
   display: flex;
   flex-direction: column;
   gap: 12px;
   align-items:flex-start;
}

.name {
    font-size: 21px;
    font-weight: 700;
}

.other > span {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
}

.price {
    font-size: 21px;
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.assembled,
.waiting_pickup,
.completed{
    font-size: 18px;
    padding: 2px 15px;
    border-radius: 8px
}

.assembled {
    background-color: #E3DF79;
    color: #817C09;
}

.waiting_pickup {
    background-color: #F26E9D;
    color: #7E2407;
}

.completed {
    background-color: #57B4F8;
    color: #00538F;
}