

.cart_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    align-items: flex-start;
}

.payment_card {
    padding: 10px;
}
.list_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.list {
    flex-basis: 800px;
}

.exit {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.icon_arrow {
    transition: transform .5s;
    width: 30px;
    height: 30px;
}

.exit:hover .icon_arrow {
    transform: translateX(-6px);
}

.exit:active{
    color: var(--color-green)
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
hr {
    width: 100%;    
}

.box_price{
    font-size: 18px;
    color: var(--color-grey);
}
.sum {
    font-size: 24px;
    font-weight: 700;
}

.products {
    margin-bottom: 80px;
}





.btn_clear{
    padding: 20px 15px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
    display: block;
}