.card {
    /* background-color: #92a5bc; */
    max-width: max-content;
    padding: 20px;
    border-radius: 9px;
    border: 2px solid #748594;
    box-shadow: 3px 1px 6px 0px rgb(105 122 134);
    user-select:none;
}

.img_product {
    max-height: 275px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.name {
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-top: 20px;
    padding-bottom: 38px;
    text-transform: uppercase;
    max-width: 250px;
    word-wrap: break-word;
}

.icon_heart  {
    width: 42px;
    height: 42px;
    cursor: pointer;
    fill: var(--color-text-light);
    transition: all .5s;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
  
}

.btn_catalog {
    flex-grow: 1;
    padding: 15px 20px;
}

.btn_catalog:hover{ 
    transform: none !important;
}

.btn_catalog:active{
    transform: scale(0.8);
}

.icon_heart:hover {
    transform: scale(1.2);
}

.sizes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.size {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid  var(--color-text-light);
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    transition: transform .5s;
}

.size_select {
    border-color:  var(--color-green);
}

.size_select > .size_name,
.size_select >.price {
    color: var(--color-green);
}

.size_name{
    font-size: 16px;
}

.price {
    font-size: 14px;
}

.size:hover{
    transform: scale(0.9);
}