
.cards {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 12px;
    margin-top: 60px;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn:not(:disabled):hover{
    transform: none;
}

.btn {
    padding: 10px 15px;

}

.inp_query{
    background: inherit;
    border: 1px solid  var(--color-green);
    padding: 14px 8px 14px 20px;
    border-radius: 5px;
    color: var(--color-text-light);
    font-size: 20px;
    width: 300px;
    
}

.inp_query::placeholder {
    background: url("../../assets/img/search_icon.png") no-repeat ;
    background-position: 0 50%;
    background-size: 24px;
    padding: 30px;
    color: #757575;
}

.inp_query:focus {
    outline: none;
    border-color: var(--color-text-light);
    background: none
}

.btn_again {
    display: block;
    width: 60%;
    margin: 0 auto; 
    margin-top: 50px;
}

.btn_again:not(:disabled):hover {
    transform: none;
}

.top_panel {
    display: flex;
    justify-content: space-between;
    align-items:start;
    color: var(--color-text-light);
}
.settings_price {
    display: flex;
    gap: 30px;
}

.prices{
    display: flex;
    align-items: center;
    gap: 15px;
}

.box_price {
    position: relative;
    padding: 15px;
    max-width: max-content;
    border-radius: 9px;
    border: 2px solid #748594;
}

.box_price >span {
    display: block;
    text-align: center;
}

.size {
    font-size: 14px;
    color: var(--color-grey);
    font-weight: 400;
}

.edit {
    position: absolute;
    top: -18px;
    right: -9px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon_pen {
    width: 100%;
    height: 100%;
    transition: transform .8s, color .8s;
}

.edit:hover .icon_pen{
    transform: scale(0.9);
    color: var(--color-green);
}

input.input_edit {
    width: 18   0px;
}

.wrapper_error {
    height: 20px;
}
.error {
    color: #f14f3f;
    font-weight: bold;
}   